<h2 class="sub">Agent: <%= @agent.agent %></h2>

<div class="agentdetail">
  <% build = @agent.build %>
  <table>
    <tr>
      <th>Status</th>
      <td><%= build.status %></td>
    </tr><tr>
      <th>Heartbeat</th>
      <td><%= @agent.heartbeat %></td>
    </tr><tr>
      <th>Branch</th>
      <td><%= build.branch %></td>
    </tr><tr>
      <th>SHA</th>
      <td><code><%= build.sha %></code></td>
    </tr><tr>
      <th>Commit Message</th>
      <td><%= build.message %></td>
    </tr><tr>
      <th>Author</th>
      <td><%= build.author %></td>
    </tr><tr>
      <th>Built</th>
      <td><%= build.built %></td>
    </tr><tr>
      <th valign="top">Output</th>
      <td><pre><%= build.out %></pre></td>
    </tr>
  </table>
</div>
