<h2 class="sub">Agent: <%= @agent.agent %></h2>

<div class="agent">
  <% build = @agent.build %>
  <table>
    <tr>
      <td>Branch</td>
      <td><%= build.branch %></td>
    </tr><tr>
      <td>Status</td>
      <td><%= build.status %></td>
    </tr><tr>
      <td>SHA</td>
      <td><%= build.sha %></td>
    </tr><tr>
      <td>Commit Message</td>
      <td><%= build.message %></td>
    </tr><tr>
      <td>Author</td>
      <td><%= build.author %></td>
    </tr><tr>
      <td>Output</td>
      <td><pre><%= build.output %></pre></td>
    </tr><tr>
      <td>Built</td>
      <td><pre><%= build.built %></pre></td>
    </tr>
  </table>
</div>
