<h2 class="sub">Agents</h2>
<% if @agents.size > 0 %>
  <% @agents.each do |a| %>
    <% build = a.build %>
    <div class="agent <%= build.status %>">
      <div class="atitle">
        <div class="status">
          <small>hb:<%= time_ago(agent.heartbeat) %></small>
          <%= build.branch %>:<strong><%= build.status %></strong>
        </div>
        <a href="/agent/<%= a.agent %>"><%= a.agent %></a> 
        <span class="desc"><%= a.description %></span>
      </div>
      <div class="info">
        <div class="time">
          <%= time_ago(build.built) %>
        </div>
        build: <code><a href="<%= a.url %>/commit/<%= build.sha %>"><%= build.sha[0, 6] rescue nil %></a>, <%= build.message %>, <%= build.author %></code>
      </div>
    </div>
  <% end %>
<% end %>
