<h2 class="sub">Agents</h2>
<% if @agents.size > 0 %>
  <% @agents.each do |a| %>
    <% build = a.build %>
    <div class="agent <%= build.status %>">
      <h3><a href="/agent/<%= a.agent %>"><%= a.agent %></a><br/></h3>
      <%= build.branch %>;
      <%= build.status %>;
      (<%= build.sha[0, 6] %>, <%= build.message %>, <%= build.author %>);
      <%= time_ago(build.built) %><br/>
    </div>
  <% end %>
<% end %>
